*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:80px 20px;
}

.card{
    width:547px;
    height:885px;
    perspective:1500px;
}

.card-inner{
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition:0.6s;
}

.card:hover .card-inner{
    transform:rotateY(180deg);
}

.front,
.back{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:30px;
    overflow:hidden;
    backface-visibility:hidden;
}

.front{
    background:#d9d9d9;
    background-image:
    linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,.3),transparent),
    url("../images/image.jpg");
    background-size:cover;
    background-position:center;
}

.back{
    background:#fff;
    transform:rotateY(180deg);
}

.title{
    font-family:"Roboto",sans-serif;
    font-weight:700;
}

.button{
    position:absolute;
    top:729px;
    left:419px;
    width:68px;
    height:68px;
    border:2px solid #19ABFE;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.button svg{
    width:22px;
    height:22px;
}

.front .title{
    position:absolute;
    top:700px;
    left:62px;
    width:357px;
    font-size:36px;
    line-height:42px;
    color:#fff;
}

.icon{
    position:absolute;
    top:200px;
    left:64px;
    width:105px;
}

.back .title{
    position:absolute;
    top:309px;
    left:59px;
    width:386px;
    font-size:40px;
    line-height:48px;
    color:#1E335C;
}

.description{
    position:absolute;
    top:475px;
    left:59px;
    width:428px;
    font-size:18px;
    line-height:32px;
    color:#6C7994;
    font-family:"Roboto",sans-serif;
}

.read-more{
    position:absolute;
    top:729px;
    left:59px;
    display:flex;
    align-items:center;
    gap:45px;
}

.read-more span{
    color:#19ABFE;
    font-size:20px;
    font-family:"Roboto",sans-serif;
}

.circle{
    width:68px;
    height:68px;
    border:3px solid #19ABFE;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.circle svg{
    width:18px;
}